# Assignment 1

## 1.

### a)

In [36]:
import pandas as pd

df = pd.read_csv('datasets\life-expectancy-vs-gdp-per-capita.csv')
df.tail(20)
# df.describe()

,Entity,Code,Year,"Total population (Gapminder, HYDE & UN)",Continent,Life expectancy,"Real GDP per capita in 2011US$, multiple benchmarks (Maddison Project Database (2018))"
50200,Zimbabwe,ZWE,2001,11924000.0,NaN,44.010,2624.0
50201,Zimbabwe,ZWE,2002,11954000.0,NaN,43.523,2376.0
50202,Zimbabwe,ZWE,2003,11982000.0,NaN,43.195,1958.0
50203,Zimbabwe,ZWE,2004,12020000.0,NaN,43.065,1813.0
50204,Zimbabwe,ZWE,2005,12077000.0,NaN,43.241,1660.0
50205,Zimbabwe,ZWE,2006,12155000.0,NaN,43.853,1587.0
50206,Zimbabwe,ZWE,2007,12256000.0,NaN,44.947,1522.0
50207,Zimbabwe,ZWE,2008,12380000.0,NaN,46.504,1260.0
50208,Zimbabwe,ZWE,2009,12527000.0,NaN,48.449,1329.0
50209,Zimbabwe,ZWE,2010,12698000.0,NaN,50.640,1425.0
50210,Zimbabwe,ZWE,2011,12894000.0,NaN,52.896,1515.0
50211,Zimbabwe,ZWE,2012,13115000.0,NaN,55.032,1623.0
50212,Zimbabwe,ZWE,2013,13350000.0,NaN,56.897,1801.0
50213,Zimbabwe,ZWE,2014,13587000.0,NaN,58.410,1797.0
50214,Zimbabwe,ZWE,2015,13815000.0,Africa,59.534,1759.0
50215,Zimbabwe,ZWE,2016,14030000.0,NaN,60.294,1729.0
50216,Zimbabwe,ZWE,2017,14237000.0,NaN,60.812,NaN
50217,Zimbabwe,ZWE,2018,14439000.0,NaN,61.195,NaN
50218,Zimbabwe,ZWE,2019,14645000.0,NaN,61.490,NaN
50219,Ã…land Islands,ALA,2015,NaN,Europe,NaN,NaN

In [ ]:
df.columns

In [ ]:
countries = df['Entity']
countries = set(countries)
countries

In [ ]:
gdp2000 = df[df['Year'] == 2012]
gdp2000 = pd.DataFrame(gdp2000, columns=['Entity', 'Year', 'Real GDP per capita in 2011US$, multiple benchmarks (Maddison Project Database (2018))', 'Life expectancy'])
gdp2000.dropna(subset=['Real GDP per capita in 2011US$, multiple benchmarks (Maddison Project Database (2018))'], inplace=True)
gdp2000.dropna(subset=['Life expectancy'], inplace=True)
gdp2000

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

x = gdp2000['Real GDP per capita in 2011US$, multiple benchmarks (Maddison Project Database (2018))']
y = gdp2000['Life expectancy']

plt.scatter(x, y)
plt.xlim(0, 50000)
plt.ylim(45, 85)

m, b = np.polyfit(x, y, 1)
plt.plot(x, m*x + b, color='red')