# Assignment 2

## Pontus Backman and Andreas Pettersson

## 1

### a)

In [21]:
import pandas as pd

df = pd.read_csv('datasets\data_assignment2.csv')
houseprices = df
houseprices.head()

   ID  Living_area  Rooms  Land_size  Biarea  Age  Selling_price
0   1          104    5.0      271.0    25.0   33        4600000
1   2           99    5.0     1506.0     6.0   88        4450000
2   3          133    6.0      486.0     NaN   44        4900000
3   4          175    7.0      728.0     NaN   14        6625000
4   5          118    6.0     1506.0     NaN   29        4600000

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

x = houseprices['Living_area']
y = houseprices['Selling_price']

plt.scatter(x,y)